{{#if this.tagId}}
  <div
    {{did-insert this.getTagInfo}}
    {{did-update this.getTagInfo this.tagId}}
    {{did-insert this.getTagNotificationLevel}}
    {{did-update this.getTagNotificationLevel this.tagId}}
  >
    {{#if this.shouldShow}}
      {{#if (or this.tag.description this.currentUser)}}
        <div class="custom-right-sidebar_tag-about">
          {{#if this.tag.description}}
            <h3>{{theme-i18n "about_tag"}}</h3>
            <p>{{html-safe this.tag.description}}</p>
          {{/if}}
          {{#if this.currentUser}}
            <div class="custom-right-sidebar_controls">
              {{#if this.currentUser.can_create_topic}}
                <DButton
                  class="btn-default"
                  @id="custom-create-topic"
                  @action={{action "customCreateTopic"}}
                  @icon="plus"
                  @translatedLabel={{i18n "topic.create"}}
                />
              {{/if}}
              <TagNotificationsButton
                @onChange={{this.changeTagNotificationLevel}}
                @value={{this.tagNotification.notification_level}}
              />
              <AddToSidebar @tag={{this.tag}} @category={{this.category}} />
            </div>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}